Evida_power_consumption/node_modules
Evida_power_consumption/.env
Evida_box_photograph/node_modules
Evida_box_photograph/.env 
back_up_data/.env 
back_up_data/node_modules
service1/.env
service1/node_modules
Backup/.env
Backup/node_modules
.vscode


