Evida_power_consumption/node_modules
Evida_power_consumption/.env
Evida_box_photograph/node_modules
Evida_box_photograph/.env 
back_up_data/.env 
back_up_data/node_modules
Analyse_service/.env
Analyse_service/node_modules
Backup/.env
Backup/node_modules
.vscode


